body {
    padding-top: 50px;
  }
  .em-text
  {
      color:#3498eb !important;
  }
  .jumbotron{
      color: #000000;
  }
  .form{
      border-style: solid;
      border-color: black;
      padding-right: 25px;
      padding-top: 25px;
      padding-bottom: 25px;
      border-radius: 4px;
  }
  .index{
    background: url(../Images/BooLib.jpg) no-repeat top center !important;
    height: 598px;
    color: #ffffff;
  }